@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-countdown{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-countdown{
  font-size: 100%;
}

.timer-container{
  /*width: 70vw;*/
  /*height: 50vh;*/
}

.timer {
  /*background-color: rgba(0,0,0,0.5);*/
  display: flex;
  flex: border-box;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;

}

.timer div:first-child {
  text-align: center;
}

.timer-icon {
  font-size: 8em;
}

.h2-countdown{
  font-weight: 600;
  margin-bottom: 0.5em;
}

.timer div:last-child {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin-top: 3em;
  padding:3em;
  text-align: center;
}

section p:first-child, .timer div:last-child span{
  font-size: 3em;
}

@media screen and (max-width: 480px) {
  .timer div:last-child{
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}


/*---------------------------*/

/*Yasoja Css*/

.timer-container{
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  color:#fff;
  width: 100%;
  height:100%;

}

.timer {
  /*background-color: rgba(0,0,0,0.5);*/
  display: flex;
  flex: border-box;
  align-items: center;
  justify-content: center;
  padding-bottom: 5em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: x-large;

}

.timer div:first-child {
  text-align: center;
}

.timer-icon {
  font-size: 8em;
}


.timer div:last-child {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin-top: 3em;
  padding:3em;
  text-align: center;
}

section p:first-child, .timer div:last-child span{
  font-size: 3em;
}

.yas-body{

  background: #fff url("conference.jpg") center center/cover no-repeat;
  /* The image used */
  /*background-image: url("yasPic3.png");*/

  /*/* Full height */
  /*height: 100%;*/

  /*/* Center and scale the image nicely */
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

.h1-yas{
  color: gold;
  font-family: Arial New;
  font-size: 500%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.h2-yas{
  color: blanchedalmond;
  font-family: "Times New Roman";
  font-size: 400%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.h4-yas{
  color: #fff;
  font-family: "";
  font-size: 170%;
  padding: 50px;
}

.h3-yas{
  color: lime;
  font-family: "Times New Roman";
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}
.parallax {
  /* The image used */
  background-image: url('conference.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.parallax-container {

  background-color:rgba(0, 0, 0, 0.5);
}
.parallax-container-inner {
  position: relative;
  top : 200px;

}

.yas-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: darkslategray;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: crosshair;
  margin: 5px;
  margin-left: 640px;
}

/*---------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.join-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: darkslategray;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: crosshair;
  margin: 5px;
  margin-left: 600px;
}