.container{
    height: 75vh;
    margin: 20vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    width:80%;
}


.form-group-1 {
    color: white;
}

.login_msg{
    margin-top: 3vh;
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.parent-heading-1{
    background-color: white;
    display: flex;
    padding: 10px;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.heading1{
    color: #282c34;
    width: 150px;
    margin:auto;
}

.heading1 p{
    font-size: 20px;
}

.btn{
    margin-top: 3vh;
    margin-left: auto;
    color: black;
}

.register-anchor{
    color:white;
}

.register-anchor:hover{
    color:white;

}

.login-btns{
    margin-top: 50px;
    padding: 10px;
}